{% extends 'calculation/general/general.html' %}

{% block general %}
    <h4><strong>Why, hello there!</strong></h4>
    <p>This website <span class="small-caps">MathFever</span> aims to help you do a dodgy job on your homework.
        A lone admin built this site so he could help people spend less time on their homework and more time out
        with friends. Users can find mathematical proof and answers to common math problems, with values of
        their choosing. Math problem such as Highest/Lowest Common Denominator, Volume/Total Surface Area of a
        handful of different shapes, Conversions for the field of Networking (Binary, Decimal, and Hexadecimal),
        and more. The admin hopes you find this site a somewhat bit useful.
    </p>
    <p><span class="small-caps">MathFever</span> was programmed in a way where functions can be easily added or
        improved/changed. Even making big structural changes on how the site operates or whatnot shouldn't be
        too much trouble if they have some worth to users. If you see any bugs, report them and they will be
        squashed. If you want to request any features or have ideas for improvement don't hesitate to give the
        admin a yell, he likes to program.</p>
    <h5><strong>Contact</strong></h5>
    <p>Post a comment on the <a class="no-underline-a-tag" href="{% url 'calculation:message' %}?page=1">message
        board.</a><br>
        Email: admin@mathfever.xyz</p>
{% endblock %}
