{% extends 'calculation/general/general.html' %}

{% block general %}
    <h4>{{ category.title }} Calculations:</h4>
    <ul class="category-calc-ul">
        {% for calculation in category.calculations.all %}
            <li><a class="no-text-decoration"
                   href="{{ calculation.get_absolute_url }}">{{ calculation.title }}</a></li>
        {% endfor %}
    </ul>
    <hr>

    {{ category.body | safe }}
{% endblock %}
