{% extends 'calculation/base.html' %}

{% block content %}
    <!-- Main Heading -->
    <h1 id="main-heading">{{ title }}</h1>
    <hr class="separator">

    <!-- Page Content-->
    <div class="mdl-grid">
        <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col
        mdl-shadow--2dp">
            {% block general %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
