{% extends 'calculation/general/general.html' %}

{% block general %}
    <h4><strong>Found any mistakes?</strong></h4>
    <p>If you find any mistakes post a comment on the <a class="no-underline-a-tag" href=
            "{% url 'calculation:message' %}?page=1">message board</a> detailing the issue.</p>

    <h4><strong>Want to request a feature?</strong></h4>
    <p>Post it on the <a class="no-underline-a-tag" href="{% url 'calculation:message' %}?page=1">message
        board.</a>
        _へ__(‾◡◝ )></p>

    <h4><strong>Do you want to ask a question?</strong></h4>
    <p>Just ask on the <a class="no-underline-a-tag" href="{% url 'calculation:message' %}?page=1">message
        board.</a>
    </p>

    <h4><strong>Got mad advice for the admin?</strong></h4>
    <p>→ <a class="no-underline-a-tag" href="{% url 'calculation:message' %}?page=1">message board</a> ←</p>
{% endblock %}
