{% extends 'calculation/general/general.html' %}

{% block general %}
    <h4><strong>We use Google Analytics</strong></h4>
    <p>Like many other websites, <span class="small-caps">MathFever</span> uses Google Analytics to gather
        statistics
        on the site's traffic in order to improve the quality of the website.</p>
{% endblock %}
