{% extends 'calculation/general/general.html' %}

{% block general %}
    <ul>
        <li>The information and the tools on this website are given as is without any warranty of any kind.</li>
        <li>This website mathfever.xyz, and its contributors are not be liable for any damages or losses
            resulting
            from the use of the content or the tools on this website.
        </li>
        <li>Using this website means you accept the Terms of Use.</li>
        <li>These Terms of Use are subject to change at any time.</li>
    </ul>
{% endblock %}
