{% extends 'calculation/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="calculation-page-heading">
        <!-- Main Heading -->
        <h3><a href="{{ category.get_absolute_url }}">{{ category }}:</a></h3>
        <h2 id="main-heading">{{ title }}</h2>
    </div>

    <!-- User Input Form -->
    <form id="calculation-form"> {% csrf_token %}

        {% for input_id, input_label in form %}
            <!-- User Input Field -->
            <div class="user-input-field mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name="{{ input_id }}" type="text" id="{{ input_id }}"
                       autocomplete="off">
                <label class="mdl-textfield__label" for="{{ input_id }}"
                       id="{{ input_id }}Label">{{ input_label }}</label>
            </div>
        {% endfor %}

        <!-- Raised button with ripple -->
        <button type="submit"
                class="calculation-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Calculate
        </button>
    </form>

    <hr class="separator">

    <!-- Page Content-->
    <!-- Calculation Card -->
    <div class="mdl-grid">
        <div id="calculation-card" class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col
        mdl-shadow--2dp">
        </div>
    </div>
{% endblock %}


{% block scipts %}
    <script src="{% static 'calculation/scripts/scripts.js' %}"></script>
    <script src="{% static 'calculation/scripts/form.js' %}"></script>
{% endblock %}
