{% extends 'calculation/base.html' %}
{% load static %}

{% block head-tile %}
    MathFever
{% endblock %}

{% block content %}
    <!-- Main Heading -->
    <h1 id="main-heading">{{ title }}</h1>
    <!-- Page Content-->
    <hr class="separator">

    <!-- Index of Categories -->
    <div class="mdl-grid">

        {% for category in categories %}
            <!-- Index Card -->
            <div class="home-card demo-card-wide mdl-card mdl-cell mdl-cell--top mdl-cell--4 mdl-cell--4-col-phone mdl-shadow--2dp">

                <!-- Index Card Picture/Title -->
                <div class="home-card--title mdl-card__title"
                     style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                             url('{{ category.image.url }}') center / cover">
                    <h6 class="mdl-card__title-text">
                        <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                    </h6>
                </div>

                <!-- Index Card Text-->
                <div class="home-card--text mdl-card__supporting-text">
                    <ul>
                        {% for calculation in category.calculations.all %}
                            <li>
                                <a href="{{ calculation.get_absolute_url }}">{{ calculation.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        {% endfor %}

    </div>
{% endblock %}
