{% extends 'calculation/base.html' %}

{% block content %}
    <!-- Main Heading -->
    <h1 id="main-heading">{{ title }}</h1>
    <hr class="separator">

    <!-- Page Content-->
    <div class="mdl-grid">
        <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col
        mdl-shadow--2dp">

            {% for post in posts %}
                <div class="post">
                    <h3>{{ post.title }}</h3>
                    {{ post.body | safe }}
                    <p><strong>{{ post.created.date }}</strong></p>
                </div>
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">Next</a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% if page == '1' %}
            <!-- Show Disqus -->
            <div id="disqus_thread" class="mdl-cell mdl-cell--8-col"></div>
            <script>
                /*
                 var disqus_config = function () {
                 this.page.url = location.href;
                 this.page.identifier = window.location.pathname;
                 };
                 */
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//mathfever.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                powered by Disqus.</a></noscript>
        {% endif %}
    </div>
    <script id="dsq-count-scr" src="//mathfever.disqus.com/count.js" async></script>
{% endblock %}
