{% extends 'calculation/base.html' %}

{% load static %}

{% block content %}
    <!-- Page Content-->
    <div class="mdl-grid">
        <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col
        mdl-shadow--2dp">
            <h2>Error 500 &rarr; Something went wrong.</h2>
            <h6>Here's a panda:</h6>
            <img class="error-img" src="{% static 'calculation/images/errors/500panda.jpg' %}" width="500"
                 alt="Error Panda">
        </div>
    </div>
{% endblock %}