<h4>Highest Common Factor</h4>

<p><strong>Find the highest common factor of 600 and 752:</strong></p>

<p>Finding all prime factors of 600:</p>
<table class="mdl-data-table mdl-js-data-table">

    <tbody>
    <tr>
        <td>600 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 600</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">600 divided by 2 is 300</td>
    </tr>

    <tr>
        <td>300 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 300</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">300 divided by 2 is 150</td>
    </tr>

    <tr>
        <td>150 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 150</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">150 divided by 2 is 75</td>
    </tr>

    <tr>
        <td>75 | 3</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">3 is a factor of 75</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">75 divided by 3 is 25</td>
    </tr>

    <tr>
        <td>25 | 5</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">5 is a factor of 25</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">25 divided by 5 is 5</td>
    </tr>

    <tr>
        <td>5 | 5</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">5 is a factor of 5</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">5 divided by 5 is 1</td>
    </tr>
    <tr>
        <td>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<br>

<p>Finding all prime factors of 752:</p>
<table class="mdl-data-table mdl-js-data-table">

    <tbody>
    <tr>
        <td>752 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 752</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">752 divided by 2 is 376</td>
    </tr>

    <tr>
        <td>376 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 376</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">376 divided by 2 is 188</td>
    </tr>

    <tr>
        <td>188 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 188</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">188 divided by 2 is 94</td>
    </tr>

    <tr>
        <td>94 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 94</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">94 divided by 2 is 47</td>
    </tr>

    <tr>
        <td>47 | 47</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">47 is a factor of 47</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">47 divided by 47 is 1</td>
    </tr>
    <tr>
        <td>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<br>

<p>Primes for the first number are:<br>
    [2, 2, 2, 3, 5, 5]</p>

<p>Primes for the second number are:<br>
    [2, 2, 2, 2, 47]</p>

<p>Find the primes that are shared between the two numbers:<br>
    [2, 2, 2]</p>

<p>Take the shared primes and multiply them together:<br>
    2 × 2 × 2 = 8</p>

<p>Therefore the highest common factor of 600 and 752 is:<br>
    8</p>
<hr>


<h4>Lowest Common Multiple</h4>

<p><strong>Find the highest common factor of 600 and 752:</strong></p>

<p>Finding all prime factors of 600:</p>
<table class="mdl-data-table mdl-js-data-table">

</table>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
    <tbody>

    <tr>
        <td>600 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 600</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">600 divided by 2 is 600</td>
    </tr>

    <tr>
        <td>300 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 300</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">300 divided by 2 is 300</td>
    </tr>

    <tr>
        <td>150 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 150</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">150 divided by 2 is 150</td>
    </tr>

    <tr>
        <td>75 | 3</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">3 is a factor of 75</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">75 divided by 3 is 75</td>
    </tr>

    <tr>
        <td>25 | 5</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">5 is a factor of 25</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">25 divided by 5 is 25</td>
    </tr>

    <tr>
        <td>5 | 5</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">5 is a factor of 5</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">5 divided by 5 is 1</td>
    </tr>
    <tr>
        <td>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>

<br>

<p>Finding all prime factors of 752:</p>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
    <tbody>

    <tr>
        <td>752 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 752</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">752 divided by 2 is 752</td>
    </tr>

    <tr>
        <td>376 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 376</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">376 divided by 2 is 376</td>
    </tr>

    <tr>
        <td>188 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 188</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">188 divided by 2 is 188</td>
    </tr>

    <tr>
        <td>94 | 2</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">2 is a factor of 94</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">94 divided by 2 is 94</td>
    </tr>

    <tr>
        <td>47 | 47</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">47 is a factor of 47</td>
        <td class="column-wrap mdl-data-table__cell--non-numeric">47 divided by 47 is 1</td>
    </tr>
    <tr>
        <td>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>


<br>

<p>Primes for the first number are:<br>
    2 × 2 × 2 × 3 × 5 × 5 = 600<br>2<sup>3</sup> × 3<sup>1</sup> × 5<sup>2</sup> = 600</p>

<p>Primes for the second number are:<br>
    2 × 2 × 2 × 2 × 47 = 752<br>2<sup>4</sup> × 47<sup>1</sup> = 752</p>

<p>Compare the primes of the first and second numbers and use the sets with the highest exponent:<br>
    2<sup>4</sup> × 3<sup>1</sup> × 5<sup>2</sup> × 47<sup>1</sup> = 56400</p>

<p>Therefore the lowest common multiple of 600 and 752 is:<br>
    56400</p>
<hr>


<h4>Prime Numbers</h4>
<p>Prime numbers are numbers whose only whole-number factors are 1 and itself.</p>

<p>To determine if a number is a prime number, here are some rules:</p>
<ul>
    <li>Prime numbers are defined for whole-numbers greater than 1.</li>
    <li>1 is not considered a prime number.</li>
    <li>2 is considered a prime number because its only whole-number factors are 1 and itself.</li>
    <li>Any number that is divisible by 2 is not a prime number.</li>
    <li>After the steps above, start by dividing the number by 3, then 5, then 7, and so on, checking if the number
        can
        be divided by those divisors. As we have determined it cannot be divided by 2, there is no need to divide by
        4,
        6, 8, and so on.
    </li>
    <li>The maximum divisor to look for is the square root of your number, because n = a &times b and if both values
        were greater than the square root of n, a &times b would be larger than n. Therefore at least one of those
        factors must be less than or equal to the square root of n.
    </li>
</ul>