<h4>Pythagorean Theorem</h4>
<p>The Pythagorean theorem, also known as Pythagoras's theorem, can be used when two sides of a right angled triangle
    are known, and then we can find the third by using the equation:<br>
    a<sup>2</sup> + b<sup>2</sup> = c<sup>2</sup></p>

<p>Where a = 25 and b = 17 find c (hypotenuse):<br>
    25<sup>2</sup> + 17<sup>2</sup> = c<sup>2</sup></p>

<p>Square a and b:<br>
    625 + 289 = c<sup>2</sup></p>

<p>Add a and b together:<br>
    914 = c<sup>2</sup></p>

<p>Square root both sides:<br>
    √914.0 = √c2<br>
    c = 30.23</p>

<p>Therefore:<br>
    c is equal to 30.23</p>
<hr>


<h4>Total Surface Area of a Cone</h4>
<p>Find the Total Surface Area of a cone, with the equation:<br>
    TSA = area of the base (circle) + area of the curved surface<br>
    TSA = π r<sup>2</sup> + π rS</p>

<p>r is the radius, S is the Slant Height.</p>

<p>Where r = 3 and S = 5:<br>
    Find the area of the base:<br>
    π r<sup>2</sup><br>
    π × 3<sup>2</sup><br>
    28.27</p>

<p>Find the area of the curved surface:<br>
    π rS<br>
    π × 3 × 5<br>
    47.12</p>

<p>Add the two surface areas together:<br>
    28.27 + 47.12br>
    75.39</p>

<p>Therefore:<br>
    The total surface area of a cone with the radius of 3 and a slant height of 5 equals 75.39</p>
<hr>


<h4>Total Surface Area of a Cube</h4>
<p>Find the Total Surface Area of a cube, with the equation:<br>
    TSA = 6L<sup>2</sup></p>

<p>L is the length of each side of the cube. The surface area of a single side is a square, thus L &times L, which is
    the same as L<sup>2</sup>. Since all of the sides are the same, and there are 6 sides, you multiply L<sup>2</sup>
    by 6.</p>

<p>Where L = 3:<br>
    TSA = 6 &times 3<sup>2</sup><br>
    TSA = 6 &times 9<br>
    TSA = 54</p>

<p>Therefore:<br>
    The total surface area of a cube with the length of 3 equals 54.</p>
<hr>


<h4>Total Surface Area of a Cylinder</h4>
<p>Find the Total Surface Area of a cylinder, with the equation:<br>
    TSA = area of 2 circles + area of curved surface<br>
    TSA = 2 π r<sup>2</sup> + 2 π r</p>

<p>r is the radius and h is the height. A cylinder consists of two circles and a curved surface. Find the area of one of
    the circles and multiply that by 2, find the the area of the curved surface, and then add those two together.</p>

<p>Where r = 2, and h = 5:<br>
    Find the area of the two circles:<br>
    2 π r<sup>2</sup><br>
    2 × π × 2<sup>2</sup><br>
    2 × π × 4<br>
    25.13</p>

<p>Find the area of curved surface:<br>
    2 π rh<br>
    2 × π × 2 × 5<br>
    2 × π × 10<br>
    62.83</p>

<p>Add the two surface areas together:<br>
    25.13 + 62.83<br>
    87.96</p>

<p>Therefore:<br>
    The total surface area of a cylinder with the radius of 2, and a height of 5 equals 87.96.</p>
<hr>


<h4>Total Surface Area of a Rectangular Prism</h4>
<p>Find the Total Surface Area of a rectangular prism, with the equation:<br>
    TSA = 2(WH + LW + LH)</p>

<p>A rectangular prism has a surface area of six rectangles. Two sides of each: width &times height, length &times
    width, and length &times height. That would be 2WH + 2LW + 2LH, which would be the same as 2(WH + LW + LH).</p>

<p>Where H = 2, L = 4, W = 3:<br>
    TSA = 2(3 × 2 + 4 × 3 + 4 × 2)<br>
    TSA = 2(26)<br>
    TSA = 52</p>

<p>Therefore:<br>
    The total surface area of a rectangular prism with the height of 2, a length of 4, and a width of 3 is equal to
    52.</p>
<hr>


<h4>Total Surface Area of a Sphere</h4>
<p>Find the Total Surface Area of a sphere, with the equation:<br>
    TSA = 4 π r<sup>2</sup></p>

<p>r is the radius of the sphere.</p>

<p>Where r = 1:<br>
    TSA = 4 &times π &times 1<sup>2</sup><br>
    TSA = 12.57</p>

<p>Therefore:<br>
    The total surface area of a sphere with the radius of 1 equals 12.57.</p>
<hr>


<h4>Total Surface Area of a Square Based Triangle</h4>
<p>Find the Total Surface Area of a square based triangle, with the equation:<br>
    TSA = area of the square + area of 4 triangles<br>
    TSA = b<sup>2</sup> + 4 × (1/2bh)<br>
    TSA = b<sup>2</sup> + 2bh</p>

<p>b is the base length, and h is the height.</p>

<p>Where b = 4, and h = 6:<br>
    Area of the square:<br>
    b<sup>2</sup><br>
    4<sup>2</sup><br>
    16</p>

<p>Area of 4 triangles:<br>
    2bh<br>
    2 × 4 × 6<br>
    48</p>

<p>Add the two surface areas together:<br>
    16 + 48<br>
    64</p>

<p>Therefore:<br>
    The total surface area of a square based triangle with the base length of 4, and a height is 6 equals 64.</p>